@using Presentation.Extensions
@using CrossCutting
@model ERP_Condominios_Solution.ViewModels.UsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div id="content" class="wraper container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12">
            @*Atalhos*@
            <div class="row">
                <h3 style="color:olivedrab; font-weight:bold">Dashboard - Administração</h3>
                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                    <br />
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        @Html.ButtonLinkIndex(text: "Condomínio", action: "MontarTelaCondominio", controller: "Condominio", buttonClass: "primary")
                        @Html.ButtonLinkIndex(text: "Usuários", action: "MontarTelaUsuario", controller: "Usuario", buttonClass: "primary")
                        @Html.ButtonLinkIndex(text: "Auditoria", action: "MontarTelaLog", controller: "Auditoria", buttonClass: "primary")
                        @Html.ButtonLinkIndex(text: "Notificações", action: "MontarTelaNotificacaoGeral", controller: "Notificacao", buttonClass: "primary")
                        @Html.ButtonLinkIndex(text: "Notícias", action: "MontarTelaNoticia", controller: "Noticia", buttonClass: "primary")
                        @Html.ButtonLinkIndex(text: "Unidades", action: "MontarTelaUnidade", controller: "Unidade", buttonClass: "primary")
                        @Html.ButtonLinkIndex(text: "Telefones", action: "MontarTelaTelefone", controller: "Telefone", buttonClass: "primary")
                        @Html.ButtonLinkIndex(text: "Padrões de Mensagens", action: "MontarTelaTemplate", controller: "Template", buttonClass: "primary")
                        @Html.ButtonLinkIndex(text: "Configuração", action: "MontarTelaConfiguracao", controller: "Configuracao", buttonClass: "success")
                        @Html.ButtonLinkIndex(text: "Tabelas Auxiliares", action: "MontarTelaTabelasAuxiliares", controller: "TabelaAuxiliar", buttonClass: "success")
                        @Html.ButtonLinkIndex(text: "Dashboard", controller: "Usuario", action: "VoltarGeral")
                    </div>
                    <br /><br />
                </div>
            </div>

            @*Estatísticas*@
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="ibox-content text-center">
                        <h1>@Model.USUA_NM_NOME.Substring(0, Model.USUA_NM_NOME.IndexOf(" "))</h1>
                        <div class="m-b-sm">
                            <img alt="image" class="img-circle" src="@Url.Content(Model.USUA_AQ_FOTO)" style="width: auto; height: auto; max-height: 90px; max-width: 90px;">
                        </div>
                        <p class="font-bold">@((String)Session["NomeGreeting"])</p>

                        <div class="text-center">
                            @Html.ButtonLinkIndex(text: "Perfil", action: "MontarTelaPerfilUsuario", controller: "Usuario", buttonClass: "btn btn-xs btn-white")
                            @*@if (Model.PERFIL.PERF_SG_SIGLA == "ADM")
                            {
                                @Html.ButtonLinkIndex(text: "Dashboard Pessoal", action: "CarregarDashPessoal", controller: "BaseAdmin", buttonClass: "btn btn-xs btn-primary")
                            }*@
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-right">Hoje</span>
                            <h5>Resumo Usuários</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Total Usuários</small>
                                    <h4>@ViewBag.NumUsuarios</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Bloqueados</small>
                                    <h4>@ViewBag.NumBloqueados</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Total Acessos</small>
                                    <h4>@ViewBag.NumAcessos</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Total Falhas</small>
                                    <h4>@ViewBag.NumFalhas</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-right">Hoje</span>
                            <h5>Resumo Auditoria</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Total Transações</small>
                                    <h4>@ViewBag.Log</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Transações Hoje</small>
                                    <h4>@ViewBag.LogDia</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Transações Mês</small>
                                    <h4>@ViewBag.LogMes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Indicadores*@
            <br />
            <div class="row">

                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Indicadores</h5>
                        </div>
                        <div class="ibox-content ibox-heading">
                            <h3><i class="fa fa-line-chart"></i> Indicadores</h3>
                            <small><i class="fa fa-tim"></i> Valores acumulados/atualizados até hoje</small>
                        </div>
                        <div class="ibox-content" style="height: 1800px">
                            <div class="row">
                               
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Transações x Dia (Mês Corrente)</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                @if ((ViewBag.ListaLogDia as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                                {
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead style="background-color:lightsteelblue">
                                                            <tr>
                                                                <th>Data da Transação</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cond in (ViewBag.ListaLogDia as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).OrderBy(p => p.DataEmissao).Take(10))
                                                            {
                                                                <tr>
                                                                    <td>@cond.DataEmissao.ToShortDateString()</td>
                                                                    <td>@cond.Valor</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Gráfico de Transações x Dia (Mês Corrente)</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <canvas id="barChartDia" height="150"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Transações x Operação</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                @if ((ViewBag.ListaLogOp as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                                {
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead style="background-color:lightsteelblue">
                                                            <tr>
                                                                <th>Operação</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cond in (ViewBag.ListaLogOp as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).OrderBy(p => p.Valor).Take(10))
                                                            {
                                                                <tr>
                                                                    <td>@cond.Nome</td>
                                                                    <td>@cond.Valor</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Gráfico de Transações x Operação</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <canvas id="doughnutChartOper" height="150"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chartjs")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>



    <script>
        function mostrarDesc(desc) {
            $('#modalDescBody').html(desc);
            $('#modalDesc').modal('show');
        }
    </script>
    @*<script type="text/javascript">
            $(document).ready(function () {

                $('.dataTables-example').DataTable({
                    pageLength: 25,
                    dom: '<"html5buttons"B>lTfgitp',
                    buttons: [
                        { extend: 'excel', title: 'Excel' },
                        { extend: 'pdf', title: 'PDF' },

                        {
                            extend: 'print',
                            customize: function (win) {
                                $(win.document.body).addClass('white-bg');
                                $(win.document.body).css('font-size', '10px');

                                $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                            }
                        }
                    ]

                });



            });
        </script>*@

    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline1").sparkline([5, 12, 6, 4, 15, 1, 11, 8], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline2").sparkline([1, 3, 6, 2, 7, 1, 5, 3], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../BaseAdmin/GetDadosGraficoLogOper'
                , type: 'POST'
                , success: function (result) {
                var doughnutData = {
                   labels: result.labels,
                   datasets: [{
                     data: result.valores,
                     backgroundColor: result.cores
                   }]
                };
                var doughnutOptions = {
                   responsive: true
                };
                var ctx4 = document.getElementById("doughnutChartOper").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });
              }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../BaseAdmin/GetDadosGraficoDia'
                , type: 'POST'
                , success: function (result) {
                var barData = {
                    labels: result.dias,
                    datasets: [
                        {
                            label: "Transações por Dia",
                            backgroundColor: 'rgba(26,179,148,0.5)',
                            pointBorderColor: "#fff",
                            data: result.valores
                        }
                    ]
                };

                var barOptions = {
                    responsive: true
                };

                var ctx2 = document.getElementById("barChartDia").getContext("2d");
                new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });
              }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../BaseAdmin/GetDadosGraficoUnidade'
                , type: 'POST'
                , success: function (result) {
                var barData = {
                    labels: result.dias,
                    datasets: [
                        {
                            label: "Usuários por Unidade",
                            backgroundColor: 'rgba(26,179,148,0.5)',
                            pointBorderColor: "#fff",
                            data: result.valores
                        }
                    ]
                };

                var barOptions = {
                    responsive: true
                };

                var ctx2 = document.getElementById("barChartUnidade").getContext("2d");
                new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });
              }
            });
        });
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}

